@import "tailwindcss";

@theme {
  --color-cream: #f9f0dc;
  --color-night: #141414;
  --color-greenlight: #b3dec1;
  --color-greennormal: #54b374;
  --color-greendark: #4a7856;
  --color-softwhite: #f7f9f7;

  --default-font-family: "Nunito", sans-serif;
}

/* hide scroll bar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* hide scroll bar */
